<div class="modal fade" id="modalnewquestion" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="panel-title"><label class="col-md-3 control-label" for="menu_type_question">{{ 'kind of question' | trans }}?&nbsp;&nbsp;</label></h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </br>
            </div>
            <div class="modal-body">
                {% set al = '' %}

                {% for key,value in linkedCategory %}
                    {% set al = al ~ key ~ '/' ~ value ~ ';' %}
                {% endfor %}
                <form name="form_type_question" method="post" action="{{ path('ujm_question_display_form_type') }}">
                    <input type="hidden" name="exoID" value="{{ exoID }}" />
                    <input type="hidden" name="linkedCategory" value="{{ al }}" />
                    <select class="form-control" name="menu_type_question" id="menu_type_question">
                        <option selected="selected" disabled>{{ 'choose_type' | trans }}</option>
                        <option value="1">{{ 'hole' | trans }}</option>
                        <option value="2">{{ 'qcm' | trans }}</option>
                        <option value="3">{{ 'graphic' | trans }}</option>
                        <option value="4">{{ 'open' | trans }}</option>
                        <option value="5">{{ 'matching' | trans }}</option>
                    </select>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'cancel'|trans({}, 'platform') }}</button>
                        <button type="submit" class="btn btn-primary" id="submit_picture" >
                            {{ 'ok'|trans({}, 'platform') }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#modalnewquestion').modal('toggle', 'show');
</script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/question.js') }}"></script>