<a id="displayspecificFeatures" class="btn btn" data-toggle="collapse" data-target="#specificFeatures"
   title="{{ "display hide parameters" | trans }}">
    <i class="fa fa-edit"></i> {{ 'open parameters' | trans }}
</a><hr>

<div id="specificFeatures" class="list-group collapse">
    {{ form_row(form.typeopenquestion) }}

    <div id="qOpenScoreMaxLongResp">
        <div class="form-group row">
            {{ form_label(form.scoreMaxLongResp) }}
            <div class="col-md-9">
                {{ form_widget(form.scoreMaxLongResp) }}
                {{ form_errors(form.scoreMaxLongResp) }}
            </div>
        </div>
    </div>

    <div id="qOpenOrthography" style="display: none;">
        <p>
            {{ form_label(form.orthographyCorrect) }}
            {{ form_widget(form.orthographyCorrect) }}
        </p>
    </div>

    <!--<div id="qOpenUnit" style="display: none;">
        <p>
            {#{ form_row(form.unit) }#}
        </p>
    </div>-->

    <div id="qOpenKeyword" style="display: none;">
        <p>
            {{ form_row(form.wordResponses) }}
        </p>
    </div>
    <a class="btn btn col-md-offset-10" data-toggle="collapse" data-target="#specificFeatures"
        title="{{ "display hide parameters" | trans }}" >
         <i class="fa fa-eye-slash"></i> {{ 'mask' | trans }}
    </a>
    <hr>
</div>