<a class="btn btn" data-toggle="collapse" data-target="#generalFeatures"
   title="{{ "display hide parameters" | trans }}" >
    <i class="fa fa-edit"></i> {{ 'general parameters' | trans }}
</a>
<br><hr>
<div id="generalFeatures" class="list-group collapse">
    <div class="form-group row">
        {{ form_label(form.interaction.question.title) }}
        <div class="col-md-9">{{ form_widget(form.interaction.question.title) }}</div>
    </div>

    <br><hr><br>

    <div>
        <div class="form-group row">
            <label class="control-label col-md-3">{{ 'category' | trans }}</label>
            <div class="col-md-9">
                {{ form_widget(form.interaction.question.category) }}
                {{ form_errors(form.interaction.question.category) }}
            </div>
        </div>
        <a class="btn btn-primary" onclick="openCat('{{ path('ujm_category_new_pop', {'edit': 1} ) }}');"><i class="fa fa-pencil"></i> {{ 'alter category' | trans }}</a>
        <a class="btn btn-primary" onclick="openCat('{{ path('ujm_category_new_pop') }}');"><i class="fa fa-plus"></i> {{ 'create a new category' | trans }}</a>
        <a id="linkedCategory" style="display: none;" class="btn btn-primary" id="lien_category_drop" onclick="dropCategory();"><i class="fa fa-trash-o"></i> {{ 'drop category' | trans }}</a>
    </div>

    <br><hr><br>

    <div>
        <label class="control-label col-md-3">{{ 'question' | trans }}</label>
        <br><br>
        {{ form_widget(form.interaction.invite) }}
        <a class="btn btn col-md-offset-10" data-toggle="collapse" data-target="#generalFeatures"
            title="{{ "display hide parameters" | trans }}" >
             <i class="fa fa-eye-slash"></i> {{ 'mask' | trans }}
        </a>
    </div>

    <br><hr><br>

    <input type="hidden" id="pathDrop" value="{{ path('ujm_category_drop') }}"/>
</div>

{% include "UJMExoBundle:Partial:question/questionOptionalParameters.html.twig" %}

<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/allQuestionsType.js') }}"></script>
